.container{
  position: relative;
  height: 100vh;
}
.cont{
  position: absolute;
  background-image: url('/images/iiitmGwalior.jpeg');
  background-size: contain;
  height: 100vh;
  width: 100vw;
  opacity: 0.7;
}
.main {
  overflow: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10vh;
  /* backgr */
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  color: #000461;
  z-index: 5;
}
.auth{
  z-index: 10;
  display: flex;
  width: 25rem;
  justify-content: space-evenly;
  margin-top: 3rem;
}

.bgPri{
  background-color: #000461;
  color: #fff;
  width: 10rem;
  height: 3.5rem;
}
.bgPri:hover{
  background-color: #0007db;
  color: #fff;
  outline: none;
}